.icon-left {
    position: absolute;
    top: 1em;
    left: 1em;
}

.icon-right {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.season-display.summer i {
    color: orangered;
}

.summer {
    background-color: orange;
}

.season-display.winter i {
    color: blue;
}

.winter {
    background-color: aliceblue;
}
